{% extends 'index.html' %}

{% block cuerpo %}
<div>
   <h1> Reporte de artículos deportivos prestados por cada
    deporte desde 2001 hasta la actualidad. </h1>
   <canvas id="reportes_articulos_deportes"></canvas>
   <h1> Reporte de artículos deportivos prestados por cada día
    desde 2001 hasta la actualidad. </h1>
   <canvas id="reportes_articulos_dia"></canvas>
 </div>
 
 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 
 <script>
  //--------------------------------------------------------------------
  // Funciones auxiliares
  //--------------------------------------------------------------------
  // Funcion para volver un string en un array
  function stringToArray(string) {
      if (string == "[]") return [];
      try {
          var array = JSON.parse(string);
          if (Array.isArray(array)) {
              return array;
          } else {
              throw new Error("La cadena no representa un array JSON válido.");
          }
      } catch (error) {
          console.error("Error al convertir la cadena en un array:", error.message);
          return []; // Devuelve un array vacío en caso de error
      }
  }
  
  // Función para guardar datos de django limpios
  function limpiarStringDjango(stringDjango) {
    var textarea = document.createElement("textarea");
    textarea.innerHTML = stringDjango;
    return stringToArray(textarea.value.replace(/'/g, '"'));
  } 

  //--------------------------------------------------------------------
  // Datos de articulos por deporte
  //--------------------------------------------------------------------
  // guardamos los datos en el arreglo data
  nombres_articulos = ["{{ nombres_articulos }}"]
  cantidades = ["{{ cantidades }}"]

  // limpiamos los datos antes de ponerlos en pantalla
  nombres_articulos_limpios = limpiarStringDjango(nombres_articulos[0])
  cantidades_limpias = limpiarStringDjango(cantidades[0])
  console.log("cantidades:",cantidades_limpias)

  //--------------------------------------------------------------------
  // Datos de articulos por día
  //--------------------------------------------------------------------
  // guardamos los datos en el arreglo data
  dias_articulos = ["{{ dias_articulos }}"]
  cantidades_dias = ["{{ cantidades_dias }}"]

  // limpiamos los datos antes de ponerlos en pantalla
  dias_articulos_limpios = limpiarStringDjango(dias_articulos[0])
  cantidades_dias_limpias = limpiarStringDjango(cantidades_dias[0])
  console.log("cantidades_dias:",cantidades_dias_limpias)

  //--------------------------------------------------------------------
  // Se realiza el gráfico de barras
  //--------------------------------------------------------------------

   const ctx_articulos_deportes = document.getElementById('reportes_articulos_deportes');
   const ctx_articulos_dia = document.getElementById('reportes_articulos_dia');

   new Chart(ctx_articulos_deportes, {
     type: 'bar',
     data: {
       labels: nombres_articulos_limpios,
       datasets: [{
         label: 'Cantidad articulos',
         data: cantidades_limpias
        ,
         borderWidth: 2
       }]
     },
     options: {
       scales: {
         y: {
           beginAtZero: true
         }
       }
     }
   });

   new Chart(ctx_articulos_dia, {
     type: 'bar',
     data: {
       labels: dias_articulos_limpios,
       datasets: [{
         label: 'Cantidad articulos',
         data: cantidades_dias_limpias
        ,
         borderWidth: 2
       }]
     },
     options: {
       scales: {
         y: {
           beginAtZero: true
         }
       }
     }
   });
 </script>
{% endblock %}