<h1>REPORTES</h1>

<h2>Navegador</h2>
<ul>
   <button id='home'><a href='/'>Home</a></button>
   <li>
      <button id='univallunos_btn'><a href='/univallunos'>univallunos</a></button>

   </li>
   <li>
      <button id='articulos_deportivos_btn'><a href='/articulos'>articulos deportivos</a></button>
      
   </li>
   <li>
      <button id='multas_btn'><a href='/multas'>multas</a></button>
      
   </li>
   <li>
      <button id='prestamos_btn'><a href='/prestamos'>prestamos</a></button>
      
   </li>
   <li>
      <button id='reportes_btn'><a href='/reportes'>reportes</a></button>
      
   </li>
</ul>
